GREEN_WEBHOOK_TOKEN=
GREEN_WEBHOOK_SECRET=

NOTION_TOKEN=
NOTION_LEADS_DATABASE_ID=80fe2a3d1f6e47a7a4d8a5f34ada02c7
NOTION_EVENTS_DATABASE_ID=ec7bb87797b74f7daecdce25ddcefea3
NOTION_SALES_DATABASE_ID=4cd3941c785e4c70b15c2f649853e504

META_PIXEL_ID=
META_CAPI_TOKEN=
META_TEST_EVENT_CODE=

CN9_TRACK_DEBUG=false
